/*encabezado*/
img.logo{
  width: 150px;
  alt: 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a{
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
nav ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}
li{
  list-style: none;
  font-size: 25px;
  padding: 10px;
  margin-right: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

 
}
/*
main{
  display: flex;
  justify-content: center;
  
}
*/
img.fut{
  width: 90%;
  display: contents;
  flex-direction: row;
  justify-content: center;
}
.portada{
  width: 100%;

}
/*pie de pagina*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagina{
  background-color: lightblue;
}
form.form{
display: flex;
justify-content:space-between;
}
div.galeria{
  display: flex;
  
}